{% extends 'base.html' %}

{% block title %}Edit {{ test.name }}{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='teacher/edit_test.css') }}">
{% endblock %}

{% block content %}
    <div class="section">
        <h1>Edit {{ test.name.capitalize() }}</h1>
        <form method="POST">
            {{ test_form.hidden_tag() }}

            {{ test_form.name.label }}
            {{ test_form.name(size=20) }}

            {{ test_form.time.label }}
            {{ test_form.time() }}

            {{ test_form.open_note.label }}
            {{ test_form.open_note() }}

            {{ test_form.comments.label }}
            {{ test_form.comments(rows=3, cols=40) }}
            <div class="button-group">
                <a href="{{ url_for('teacher.get_tests') }}" class="button return-btn">Go back</a>
                <button id="finalize-test-btn" type="submit">Update Test</button>
            </div>
        </form>
{% endblock %}

